section{
    padding:100px 0;
}
.bg-primary-about{
    background-color: #F05F40 !important;
}    
/*-------------------
    [HEADER-AREA]
----------------------*/
header {
    margin:-21px auto 0;
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url('../images/bg.jpg');
    text-align: center;
    color: white;
  }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 200px 100px;
    width: 100%;
  }
  header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color:#d73925;
    text-shadow:1px 1px black;
  }
  header .header-content .header-content-inner hr {
    margin: 30px auto;
  }
  header .header-content .header-content-inner p {
    font-weight: 700;
    color: #d73925;
    text-shadow: 1px 1px black;
    font-size: 25px;
    margin-bottom: 50px;
  }
 
  .section-heading {
    margin-top: 0;
  }
  .service-box {
    max-width: 400px;
    margin: 50px auto 0;
  }
/*--------------
Contact Area 
---------------*/
#contact-first{
    background-image:url('../images/modern-kitchen.jpg');
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    text-align:center;
    color:#ededed;
  }
  section.contact{
      text-align:center;
  }
  
  section.contact h2{
      margin-top:0;
      margin-bottom: 25px;
  }
  section.contact h2 i{
      color:#dd4b39;
  }
  
  section.contact ul.list-social{
      margin-bottom:0;
  }
  section.contact ul.list-social li a{
      display:block;
      height:80px;
      width:80px;
      line-height:80px;
      font-size:40px;
      border-radius:100%;
      color:white;
  }
  
  section.contact ul.list-social li.social-twitter a{
      background-color: #1da1f2;
  }
  section.contact ul.list-social li.social-twitter a:hover{
      background-color:#0d95e8;
  }
  section.contact ul.list-social li.social-facebook a{
      background-color: #3b5998;
  }
  section.contact ul.list-social li.social-facebook a:hover{
      background-color:#344e86;
  }
  section.contact ul.list-social li.social-google-plus a{
      background-color:#dd4b39;
  }
  section.contact ul.list-social li.social-google-plus a:hover{
      background-color:#d73925;
  }
/*-------------
Footer Area 
---------------*/
footer{
	background-color:#222222;
	padding:25px 0;
	text-align:center;
	color:rgba(255,255,255,0.3);
}
footer p{
	font-size:12px;
	margin:0;
}
footer ul{
	margin-bottom:0;
}
footer ul li a{
	font-size:12px;
	color:rgba(255,255,255,0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active{
	text-decoration:none;
}